.reservation-container {
    max-width: 1180px;
    margin: auto;
    padding: 0 20px;
}

.intro-reservation {
    position: relative;
}

.intro-reservation__bg {
    width: 100%;
    min-height: 1319px;
    background: url("../images/reservation/intro/bg.svg") no-repeat center top;
}

.intro-reservation__bg::before {
    content: "";
    position: absolute;
    top: 25px;
    background: url("../images/reservation/intro/sky.svg") no-repeat center
        center;
    width: 1620px;
    height: 680px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    /*-webkit-animation: bouncingUpDown 7s cubic-bezier(1,.3,.1,0) infinite;
    -moz-animation: bouncingUpDown 7s cubic-bezier(1,.3,.1,0) infinite;
    -o-animation: bouncingUpDown 7s cubic-bezier(1,.3,.1,0) infinite;
    -ms-animation: bouncingUpDown 7s cubic-bezier(1,.3,.1,0) infinite;
    animation: bouncingUpDown 7s cubic-bezier(1,.3,.1,0) infinite;*/
}

.intro-reservation__balloon {
    position: relative;
}

.intro-reservation__balloon {
    width: 50%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-animation: bouncingUpDown 5s cubic-bezier(0, 0.1, 0.3, 1) infinite;
    -moz-animation: bouncingUpDown 5s cubic-bezier(0, 0.1, 0.3, 1) infinite;
    -o-animation: bouncingUpDown 5s cubic-bezier(0, 0.1, 0.3, 1) infinite;
    -ms-animation: bouncingUpDown 5s cubic-bezier(0, 0.1, 0.3, 1) infinite;
    animation: bouncingUpDown 5s cubic-bezier(0, 0.1, 0.3, 1) infinite;
    z-index: 1;
}

.intro-reservation__balloon::before {
    content: "";
    position: absolute;
    width: 675px;
    height: 719px;
    background: url("../images/reservation/intro/balloon.svg") no-repeat center
        center;
    left: 90px;
    top: -50px;
    z-index: 3;
}

.intro-reservation__balloon-mini-1,
.intro-reservation__balloon-mini-2,
.intro-reservation__carousel {
    position: absolute;
}

.intro-reservation__balloon-mini-1 {
    background: url("../images/reservation/intro/balloon-mini-1.svg") no-repeat;
    width: 80px;
    height: 109px;
    left: 35.86%;
    top: 0.65%;
}

.intro-reservation__balloon-mini-2 {
    background: url("../images/reservation/intro/balloon-mini-2.svg") no-repeat;
    width: 45px;
    height: 61px;
    left: 5.29%;
    top: 23.23%;
}

.intro-reservation__carousel {
    background: url("../images/reservation/intro/carousel.svg") no-repeat center
        center;
    width: 1389px;
    height: 281px;
    left: 0;
    right: 0;
    margin: auto;
    top: 960px;
}

.intro-reservation__content {
    display: flex;
    position: relative;
    z-index: 1;
}

.intro-reservation__inbox {
    padding-top: 160px;
    width: 50%;
}

.intro-reservation__title {
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    margin-bottom: 30px;
}

.intro-reservation__desc-border {
    position: relative;
    left: 15px;
    top: -8px;
    border: 2px dashed #fbcb38;
    border-radius: 10px;
    box-sizing: border-box;
    transform: rotate(0.74deg);
}

.intro-reservation__desc {
    background: linear-gradient(180deg, #59aaf3 0%, #0e8fed 100%);
    border-radius: 10px;
}

.intro-reservation__desc-inbox {
    padding: 35px;
    position: relative;
    left: -15px;
    top: 8px;
    transform: rotate(-0.74deg);
}

.intro-reservation__desc-text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.intro-reservation__desc-text p {
    margin-bottom: 30px;
}

.intro-reservation__desc-text p:last-child {
    margin-bottom: 0;
}
.intro-reservation__desc-text ul {
    display: inline-table;
}
.intro-reservation__desc-text ul li {
    display: block;
    text-align: left;
    padding-left: 10px;
}

.intro-reservation__desc-text ul li::before {
    background-color: #fff;
    width: 4px;
    height: 4px;
}

.intro-reservation__desc-inner {
    padding: 25px 60px;
    box-sizing: border-box;
    text-align: left;
}

.intro-reservation__desc-inner p {
    line-height: 24px;
    margin-bottom: 15px;
}

.intro-reservation__desc-half {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.intro-reservation__desc-half div {
    width: 50%;
    padding-right: 20px;
}

.intro-reservation__desc-bold {
    margin-top: 30px;
    font-family: "_kiddy", "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.reservation {
    position: relative;
    padding-top: 550px;
    /* padding-bottom: 100px; */
    z-index: 2;
    text-align: center;
}

.reservation__title {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.reservation__choice input,
.reservation__choice select {
    margin-top: 4px;
}

.reservation__choice label {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    display: inline-block;
    margin-right: 25px;
    text-align: left;
}

.reservation__choice label:last-child {
    margin-right: 0;
}

.reservation__choice label span {
    display: inline-block;
    margin-left: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
}

.reservation__date {
    max-width: 180px;
}

.reservation__time {
    position: relative;
    max-width: 115px;
}

.reservation__select {
    position: relative;
    max-width: 295px;
}

.reservation__time::after,
.reservation__select::after {
    content: "";
    position: absolute;
    bottom: 12px;
    right: 20px;
    width: 14px;
    height: 15px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M4.94%205.72668L8%208.78002L11.06%205.72668L12%206.66668L8%2010.6667L4%206.66668L4.94%205.72668Z%22%20fill%3D%22%23FBCB38%22%2F%3E%0A%3C%2Fsvg%3E%0A")
        no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.reservation-tariff__list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.reservation-tariff__list .slick-list {
    padding-bottom: 50px !important;
}

.reservation-tariff__item {
    margin: 0 5px;
    width: 380px;
    min-height: 730px;
    background: url("../images/reservation/tariffs/tariff-bg.svg") no-repeat
        center top;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #87b24d;
    transition: 0.2s ease-out;
}

.reservation-tariff__item:hover {
    -webkit-box-shadow: 0 20px 40px rgba(1, 1, 1, 0.15);
    box-shadow: 0 20px 40px rgba(1, 1, 1, 0.15);
    cursor: pointer;
}

.reservation-tariff__inner {
    position: relative;
    padding: 16px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 46px;
}

/*.reservation-tariff__item:nth-child(1) .reservation-tariff__inner {*/
/*    background-position-y: 100px;*/
/*}*/

/*.reservation-tariff__item:nth-child(2) .reservation-tariff__inner {*/
/*    background-position-y: 38px;*/
/*}*/

/*.reservation-tariff__item:nth-child(3) .reservation-tariff__inner {*/
/*    background-position-y: 95px;*/
/*}*/
.reservation-tariff__image {
    position: absolute;
    left: 0;
    top: 75px;
    height: 100%;
    box-sizing: border-box;
    max-height: 275px;
}

.reservation-tariff__image img {
    width: 100%;
    height: 100%;
}

.reservation-tariff__title {
    font-family: "_kiddy", "Trebuchet MS", Arial, sans-serif;
    font-size: 24px;
    color: #2f6ebd;
    font-weight: bold;
    line-height: 30px;
}

.reservation-tariff__text span {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
}

.reservation-tariff__text {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.reservation-tariff__price {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    color: #e6142a;
    margin-top: 5px;
}

.reservation-tariff__top {
    min-height: 330px;
}

.reservation-tariff__desc {
    flex: 1 0 auto;
    //margin-top: 300px;
}

.reservation-tariff__bottom {
    flex: 0 0 auto;
    margin-top: 10px;
    padding-top: 8px;
    border-top: 2px solid #ffffff;
}

.reservation-tariff__button .button {
    border: none;
}

.additional-center {
    text-align: center;
}

.reservation-tariff__button {
    display: block;
    margin: 25px 0;
    border: none;
}

.reservation-tariff__button input {
    display: none;
}

.reservation-tariff__button input:checked ~ .button {
    background-color: #1a7ec3;
    color: #fff;
}

.section-form {
    background: url("../images/reservation/contact/contact-bg.svg") no-repeat
        center top;
    width: 100%;
    min-height: 756px;
    padding-top: 80px;
    background-color: #fff;
}

.section-form .reservation-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-form {
    max-width: 380px;
    margin: auto;
    position: relative;
}

.contact-form::before {
    content: "";
    position: absolute;
    background: url("../images/reservation/contact/man.svg") no-repeat;
    width: 381px;
    height: 610px;
    left: -400px;
}

.contact-form__wrap {
    padding-top: 20px;
}

.contact-form__date {
    position: relative;
}

.contact-form .contact-form__date input {
    padding-right: 25px;
}

.contact-form .contact-form__date span {
    right: 40px;
}

.contact-form__date::after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 14px;
    height: 15px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2214%22 height=%2215%22 viewBox=%220 0 14 15%22 xmlns=%22http://www.w3.org/2000/svg%22 xmlns:xlink=%22http://www.w3.org/1999/xlink%22 preserveAspectRatio=%22none%22%3E%3Ctitle%3EGroup%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cuse xlink:href=%22%23a%22 fill=%22%2388d528%22/%3E%3Cuse xlink:href=%22%23b%22 transform=%22translate(2.99 6.52)%22 fill=%22%2388d528%22/%3E%3Cuse xlink:href=%22%23c%22 transform=%22translate(6.21 6.52)%22 fill=%22%2388d528%22/%3E%3Cuse xlink:href=%22%23d%22 transform=%22translate(9.43 6.52)%22 fill=%22%2388d528%22/%3E%3Cuse xlink:href=%22%23e%22 transform=%22translate(2.99 9.72)%22 fill=%22%2388d528%22/%3E%3Cuse xlink:href=%22%23f%22 transform=%22translate(6.21 9.72)%22 fill=%22%2388d528%22/%3E%3Cuse xlink:href=%22%23g%22 transform=%22translate(9.43 9.72)%22 fill=%22%2388d528%22/%3E%3Cdefs%3E%3Cpath id=%22a%22 d=%22M12.958 1.814h-1.146v-.777c0-.57-.468-1.037-1.041-1.037h-.042c-.573 0-1.041.466-1.041 1.037v.777H4.311v-.777C4.313.467 3.845 0 3.272 0h-.042c-.573 0-1.042.466-1.042 1.037v.777H1.042C.469 1.814 0 2.281 0 2.851v11.112C0 14.533.469 15 1.042 15h11.916c.573 0 1.042-.466 1.042-1.037V2.851c0-.57-.469-1.037-1.042-1.037zm-.328 11.854H1.37v-9.03h11.26v9.03z%22/%3E%3Cpath id=%22b%22 d=%22M.823 1.638a.823.823 0 0 0 .823-.82.823.823 0 0 0-1.646 0c0 .452.365.82.823.82z%22/%3E%3Cpath id=%22c%22 d=%22M.823 1.638a.823.823 0 0 0 .823-.82.823.823 0 0 0-1.646 0 .816.816 0 0 0 .823.82z%22/%3E%3Cpath id=%22d%22 d=%22M.823 1.638a.823.823 0 0 0 .823-.82.823.823 0 0 0-1.646 0c0 .452.37.82.823.82z%22/%3E%3Cpath id=%22e%22 d=%22M.823 1.638a.823.823 0 0 0 .823-.82.823.823 0 0 0-1.646 0c0 .452.365.82.823.82z%22/%3E%3Cpath id=%22f%22 d=%22M.823 1.638a.823.823 0 0 0 .823-.82.823.823 0 0 0-1.646 0 .816.816 0 0 0 .823.82z%22/%3E%3Cpath id=%22g%22 d=%22M.823 1.638a.823.823 0 0 0 .823-.82.823.823 0 0 0-1.646 0c0 .452.37.82.823.82z%22/%3E%3C/defs%3E%3C/svg%3E")
        no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.contact__title {
    text-align: center;
    color: #ffffff;
}

.contact-form__label {
    display: block;
    margin-bottom: 24px;
}

.contact-form input.is-error,
input.is-error {
    border: 1px solid red;
}

.contact-form label span.field__error,
.reservation__choice label span.field-error,
.field-error {
    color: red;
}

.contact-form .contact-form__label span {
    color: rgba(1, 1, 1, 0.3);
}

.contact-form .contact-form__label.is-filled span {
    color: #ffffff;
}

.is-filled input.is-error {
    border: none;
}

.field__error.show {
    opacity: 1;
}

.is-filled .field__error {
    opacity: 0;
}
.contact-form__input-text {
    border: none;
}

.contact-form__label-text {
    margin-top: 20px;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.contact-form__half {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.contact-form__half > .contact-form__label {
    width: calc(50% - 5px);
    margin-bottom: 0;
}

.contact-form__button {
    width: 180px;
    margin: auto;
    margin-top: 20px;
}

.contact-form__thanks {
    margin-top: 50px;
    text-align: center;
    color: #32bc4f;
}

.button-contact-form {
    color: #ffffff;
}

/* Зоны празднования */

.zones__list {
    margin-top: 70px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.zones__list::before {
    content: "";
    position: absolute;
    background: url("../images/reservation/zones/cloud.svg") center no-repeat;
    width: 275px;
    height: 190px;
    left: -200px;
    top: -200px;
}

.zones__list::after {
    content: "";
    position: absolute;
    background: url("../images/reservation/zones/ballons.svg") center no-repeat;
    width: 260px;
    height: 619px;
    right: -160px;
    top: -260px;
    z-index: -1;
}

.zones__title {
    text-align: center;
    color: #32bc4f;
}

.zones__item {
    width: calc(50% - 10px);
    position: relative;
    display: inline-block;
    background: #c4c4c4;
    border-radius: 10px;
    margin-bottom: 40px;
}

.zones__item img {
    border-radius: 10px;
    width: 100%;
}

.zones__name {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
    max-height: 52px;
    left: 30px;
    top: -26px;
    z-index: 1;
}

.zones__button {
    display: inline-block;
    max-width: 130px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    top: auto;
    margin: auto;
}

.zones__slider ul li {
    padding: 0;
    margin: 0;
}
.zones__slider ul li::before {
    content: none;
}
.zones__slider ul.slick-dots li {
    width: 54px;
    height: 6px;
    background: #ffffff;
    opacity: 0.5;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.zones__slider ul.slick-dots li button {
    display: none;
}

.zones__slider ul.slick-dots li.slick-active {
    opacity: 1;
}

.zones__slider .slick-dots {
    position: absolute;
    left: 20px;
    bottom: 0;
    display: flex !important;
    list-style-type: none;
}

.zones__slider-item {
    text-decoration: none;
    border: none;
}

.zones__slider-item span {
    display: block;
    width: 100%;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.zones__inactive {
    opacity: .2;
}

.additional__title {
    text-align: center;
    color: #32bc4f;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.popup .layer-close {
    right: 20px;
    cursor: pointer;
    z-index: 1;
}

.popup-layout {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 400px;
    min-height: 100px;
    max-height: 200px;
    padding: 30px;
    border: 9px solid #1a7ec3;
    background-color: #fff;
    border-radius: 50px;
    cursor: inherit;
    box-sizing: border-box;
    text-align: center;
    z-index: 2;
}

.popup-layout .title-h3 {
    text-align: center;
    margin-bottom: 5px;
}

@media (max-width: 1199px) {
    .popup-layout {
        left: 0;
    }
}
@media (max-width: 1024px) {
    .reservation {
        padding-top: 340px;
        padding-bottom: 60px;
    }

    .contact-form__wrap {
        padding-top: 120px;
    }

    .reservation-tariff__list {
        margin-bottom: 0;
    }

    .intro-reservation__balloon {
        animation: none;
    }

    .intro-reservation__elements {
        display: none;
    }

    .contact-form::before {
        left: -335px;
    }

    .intro-reservation__balloon::before {
        top: 50px;
        -ms-background-position-y: top;
        background-position-y: top;
        -ms-background-position-x: left;
        background-position-x: left;
        background-size: 80%;
    }

    .zones__list:before,
    .zones__list:after {
        content: none;
    }

    .section-form {
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .reservation {
        padding-top: 415px;
    }
    .reservation__select {
        margin-top: 10px;
        max-width: 100%;
    }

    .reservation__title {
        margin-bottom: 20px;
    }

    .intro-reservation__content {
        flex-direction: column;
    }

    .intro-reservation__inbox {
        position: relative;
        z-index: 2;
        width: 100%;
        order: 2;
    }

    .intro-reservation__balloon {
        z-index: 1;
        order: 1;
        width: 100%;
    }

    .intro-reservation__balloon::before {
        display: none;
    }
    .intro-reservation__desc-inner {
        padding: 0;
    }

    .intro-reservation__desc-half {
        margin: 30px 0;
        display: block;
    }
    .intro-reservation__desc-half div {
        width: 100%;
    }

    .additional .intro-reservation__desc-border {
        border: transparent;
    }

    .reservation-tariff__list {
        margin-left: -20px;
        margin-right: -20px;
    }

    .contact-form::before {
        display: none;
    }

    .contact-form__wrap {
        padding-top: 100px;
    }

    .zones__slider-item span {
        height: 250px;
    }
}

.body .nav__link-red {
    color: #ff485a;
    font-weight: bold;
}

.check-service {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    width: 13px;
    min-height: 10px;
}

.li-clear:before {
    content: none;
}

@media (max-width: 425px) {
    .reservation-tariff__item {
        max-width: 330px;
    }

    .reservation__time {
        margin-top: 10px;
    }

    .intro-reservation__title {
        font-size: 34px;
        line-height: 45px;
    }

    .intro-reservation__desc-inbox {
        padding: 25px;
    }

    .zones__item {
        width: 100%;
        max-height: 360px;
    }

    .reservation-tariff__item {
        min-height: auto;
        background-position-y: -80px;
    }

    .reservation-tariff__top {
        min-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .reservation-tariff__image {
        display: none;
    }

    .reservation-tariff__desc {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .contact-form__half {
        display: block;
        margin-bottom: 0;
    }
    .contact-form__half > .contact-form__label {
        width: 100%;
        margin-bottom: 24px;
    }

    .contact-form .contact-form__label {
        margin-bottom: 10px;
    }

    .contact-form__wrap {
        padding-top: 70px;
    }

    .reservation__choice label {
        display: block;
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }

    .reservation__choice label span {
        margin-left: 0;
    }
}

@media (max-width: 375px) {
    .reservation {
        padding-top: 330px;
    }
}

@media (max-width: 360px) {
    .contact-form__wrap {
        padding-top: 40px;
    }
}

@media (max-width: 320px) {
    .reservation {
        padding-top: 265px;
    }

    .reservation-tariff__item {
        max-width: 300px;
    }

    .contact-form__thanks {
        margin-top: 60px;
    }
}
