

/* Start:/local/templates/veselkino/components/bitrix/news.list/current_actions/style.css?1516941840150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/veselkino/components/bitrix/news.list/services/style.css?1516941840150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/veselkino/components/bitrix/news.list/news/style.css?1516941840150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/veselkino/components/bitrix/news.list/actions/style.css?1516941840150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/veselkino/components/bitrix/news.list/training/style.css?1516941840150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/veselkino/components/bitrix/news.list/points/style.css?1516941840150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/veselkino/components/bitrix/news.list/gallery/style.css?1516941840150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/veselkino/components/bitrix/news.list/current_actions/style.css?1516941840150 */
/* /local/templates/veselkino/components/bitrix/news.list/services/style.css?1516941840150 */
/* /local/templates/veselkino/components/bitrix/news.list/news/style.css?1516941840150 */
/* /local/templates/veselkino/components/bitrix/news.list/actions/style.css?1516941840150 */
/* /local/templates/veselkino/components/bitrix/news.list/training/style.css?1516941840150 */
/* /local/templates/veselkino/components/bitrix/news.list/points/style.css?1516941840150 */
/* /local/templates/veselkino/components/bitrix/news.list/gallery/style.css?1516941840150 */
